@import "../theme/sneed/palette";

@import "../theme/tb/theme/variables";


$tb-theme-primary: map-get($app-primary, 500);
$tb-theme-primary-dark: map-get($app-primary, 700);
$tb-theme-secondary: map-get($app-accent, 500);
$tb-theme-primary-light: map-get($app-primary, 50);

$dark-primary: mat-palette($app-primary, 500);
$dark-secondary: mat-palette($app-cyan, 500);
$dark-accent: mat-palette($app-accent, 500);
$dark-warn: mat-palette($app-red);
$dark-forground: mat-palette($app-grey);
$dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
$dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);


html {
  height: 100%;
}

$scrollbar-color: #333;

::-webkit-scrollbar {
  height: 16px;
  width: 8px;

  &:disabled {
    background: transparent;
  }
}

::-webkit-scrollbar-track {
  height: 20px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba($scrollbar-color, 0.3);
  border-radius: 0 0 20px 20px;

  &:hover {
    background: rgba($scrollbar-color, 0.75);
  }

  &:active {
    background: rgba($scrollbar-color, 0.9);
  }
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba($scrollbar-color, 0.2);
}

body {
  height: 100%;
  margin: 0px;
  background: #ffffff !important;
  // background: #FCFCFC;

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }
  a {
    color: map-get($app-grey, 800);
  }

  #__next{
    height: 100%;
    width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.app-background {
  background-color: #fcfcfc;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

@import "../theme/tb/class";
@import "../theme/sneed/class";

.app-secondary {
  color: #27debf;
}

@debug "---------Loading scss files----------";

@media screen and (max-width: 1910px) {
  :root {
    font-size: 92%;
  }
}

@media screen and (max-width: 1380px) {
  :root {
    font-size: 78%;
  }
}

@media screen and (max-width: 499px) {
  :root {
    font-size: 72%;
  }
}
