$tb-grey: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161
);
$tb-green: (
  50: #e8f8f0,
  100: #d1f2e1,
  200: #8ddfb6,
  300: #5fd298,
  400: #31c57b,
  500: #1bbf6d,
  600: #18ab62,
  700: #159857,
  800: #107241,
  900: #0a4c2b,
  A100: #a7eec8,
  A200: #65e29f,
  A400: #23d676,
  A700: #12cf65
);

$tb-blue: (
  50: #e3e3e9,
  100: #bab9c9,
  200: #8c8aa5,
  300: #5e5b80,
  400: #3c3765,
  500: #19144a,
  600: #161243,
  700: #120e3a,
  800: #0e0b32,
  900: #080622,
  A100: #685fff,
  A200: #382cff,
  A400: #33a0ff,
  A700: #0c00df
);

$tb-red: (
  50: #fee8e7,
  100: #fcc7c3,
  200: #faa19b,
  300: #f77b72,
  400: #f54848,
  500: #f44336,
  600: #f33d30,
  700: #f13429,
  800: #ef2c22,
  900: #ec1e16,
  A100: #ffffff,
  A200: #ffe9e9,
  A400: #ffb8b6,
  A700: #ff9f9c
);
$tb-orange: (
  50: #ffeee8,
  100: #fed5c6,
  200: #feb9a0,
  300: #fe9d7a,
  400: #fd885e,
  500: #fd7341,
  600: #fd6b3b,
  700: #fc6032,
  800: #fc562a,
  900: #fc431c,
  A100: #ffffff,
  A200: #fffdfc,
  A400: #ffd1c9,
  A700: #ffbcb0
);

$tb-amber: (
  50: #fff8e1,
  100: #ffecb3,
  200: #ffe082,
  300: #ffd54f,
  400: #ffca28,
  500: #f9bb21,
  600: #ffb300,
  700: #ffa000,
  800: #ff8f00,
  900: #ff6f00,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00
);

$tb-summerSky: (
  50: #e8f8ff,
  100: #c6edff,
  200: #a0e2ff,
  300: #79d6ff,
  400: #5dcdff,
  500: #40c4ff,
  600: #3abeff,
  700: #32b6ff,
  800: #2aafff,
  900: #1ca2ff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #cde9ff,
  A700: #b3deff
);

$tb-turquoise: (
  50: #e5fbf7,
  100: #bdf5ec,
  200: #92efdf,
  300: #66e8d2,
  400: #45e3c9,
  500: #24debf,
  600: #20dab9,
  700: #1bd5b1,
  800: #16d1a9,
  900: #0dc89b,
  A100: #f5fffc,
  A200: #c2ffef,
  A400: #8fffe1,
  A700: #75ffda
);

$tb-brightSun: (
  50: #fffbe8,
  100: #fef5c5,
  200: #feef9f,
  300: #fde978,
  400: #fce45b,
  500: #fcdf3e,
  600: #fcdb38,
  700: #fbd730,
  800: #fbd228,
  900: #faca1b,
  A100: #ffffff,
  A200: #fffefa,
  A400: #fff2c7,
  A700: #ffecad
);