.nav-item {
  border-right: 4px solid transparent !important;

	&.active {
		border-right: 4px solid #40c4ff !important;
	}
}


.nav-item-mobile {
	border-bottom: 3px solid transparent !important;
	  &.active {
		  border-bottom: 3px solid #e3e3e3 !important;
	  }
  }